name: Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Nim
      uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: 'stable'
    
    - name: Run tests
      run: nimble test -y
